@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Add" asp-controller="Animal" class="btn btn-success" >Add</a>
<a asp-action="Add" asp-controller="Breed" class="btn btn-success" >AddBreed</a>