@{
    ViewData["Title"] = "Home Page";
}

<div class="row-cols-1">
<a asp-action="Add" asp-controller="Animal" class="btn btn-success" >Add</a>
<a asp-action="Add" asp-controller="Breed" class="btn btn-success" >AddBreed</a>
<a asp-action="Add" asp-controller="Disease" class="btn btn-success" >AddDesiese</a>
<a asp-action="Add" asp-controller="DiseaseCategory" class="btn btn-success" >AddDesieseCategory</a>
<a asp-action="AddOwner" asp-controller="Owner" class="btn btn-success" >Add Owner</a>
<a asp-action="AddMedication" asp-controller="Medication" class="btn btn-success" >Add Medication</a>
<a asp-action="AddMedCategory" asp-controller="MedicationCategory" class="btn btn-success" >Add Medication Category</a>
</div>

<div>
    <a asp-action="AllAnimals" asp-controller="Animal" class="btn btn-success">AllAnimals</a>

</div>