@using VetSystem.Core.ViewModels.Disiese
@model AddDisieseViewModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
     <div class="row">
        @Html.DisplayNameFor(s => s.DiseaseCategoryId)
        @Html.DropDownListFor(s => s.DiseaseCategoryId, new SelectList(Model.DiseaseCategoryName))
    </div>
    <input class="btn text-black btn-info text-center " type="submit" value="Add" />
</form>