@using VetSystem.Core.ViewModels.DiseaseCategory
@using VetSystem.Core.ViewModels.Disiese
@model AddDisieseViewModel

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <select class="form-control text-primary" id="diseaseCategory" asp-for="DiseaceCategoryName">
        <option selected disabled>--- Select Disease Category ---</option>
        @foreach (var diseaseCategory in (IEnumerable<AddDisieseViewModel>)this.ViewData["diseaseCategory"])
        {
            <option value="@diseaseCategory.DiseaceCategoryName">@diseaseCategory.DiseaceCategoryName</option>
        }
    </select>
    <input class="btn text-black btn-info text-center " type="submit" value="Add" />
</form>